In [50]:
import pandas as pd
import numpy as np

In [52]:
news = pd.read_csv("data/amc/webull_AMC_avgsentimentperday_2020-2022.csv")
news.rename(columns = {'date':'Date'}, inplace = True)
news.drop(columns = ['sentiment_label'], inplace = True)
display(news.head())

         Date  sentiment_score
0  2020-01-06           0.9001
1  2020-01-07           0.2787
2  2020-01-08           0.0000
3  2020-01-15           0.0000
4  2020-01-21           0.3400

In [54]:
tweets = pd.read_csv("data/amc/tweets_AMC_avgsentimentperday_2020-2022.csv")
tweets.drop(columns = ['sentiment_label'], inplace = True)
display(tweets.head())

         Date  sentiment_score
0  2020-01-05         0.384920
1  2020-01-06         0.317995
2  2020-01-07         0.279057
3  2020-01-08         0.266050
4  2020-01-09         0.187100

In [55]:
# left outer join
df = pd.merge(news, tweets, on='Date', how='outer')
display(df.head(30))

# group by date and average sentiment_score
df['sentiment_score'] = df[['sentiment_score_x', 'sentiment_score_y']].apply(lambda x: np.nanmean(x), axis=1)
display(df.head(20))

          Date  sentiment_score_x  sentiment_score_y
0   2020-01-06           0.900100           0.317995
1   2020-01-07           0.278700           0.279057
2   2020-01-08           0.000000           0.266050
3   2020-01-15           0.000000           0.057100
4   2020-01-21           0.340000           0.204400
5   2020-01-28           0.000000           0.399675
6   2020-01-30           0.340000           0.443325
7   2020-01-31           0.526700           0.142267
8   2020-02-03           0.311050           0.013250
9   2020-02-10           0.000000           0.387350
10  2020-02-28           0.000000           0.255267
11  2020-03-02           0.000000           0.212000
12  2020-03-03           0.000000           0.279533
13  2020-03-04           0.222550           0.001500
14  2020-03-05           0.187756           0.312900
15  2020-03-16           0.000000           0.000000
16  2020-03-17           0.246350           0.197333
17  2020-03-24           0.875000           0.357750
18  2020-03-28          -0.177900           0.675167
19  2020-03-30           0.753100           0.287300
20  2020-03-31           0.136160           0.309625
21  2020-04-01           0.000000           0.050575
22  2020-04-02           0.287520          -0.154325
23  2020-04-03           0.119100           0.364500
24  2020-04-04           0.000000          -0.243600
25  2020-04-06          -0.080817           0.424800
26  2020-04-07           0.472800           0.462425
27  2020-04-08           0.361200           0.025000
28  2020-04-09           0.778300          -0.104100
29  2020-04-10           0.636900           0.061825

          Date  sentiment_score_x  sentiment_score_y  sentiment_score
0   2020-01-06           0.900100           0.317995         0.609047
1   2020-01-07           0.278700           0.279057         0.278879
2   2020-01-08           0.000000           0.266050         0.133025
3   2020-01-15           0.000000           0.057100         0.028550
4   2020-01-21           0.340000           0.204400         0.272200
5   2020-01-28           0.000000           0.399675         0.199838
6   2020-01-30           0.340000           0.443325         0.391662
7   2020-01-31           0.526700           0.142267         0.334483
8   2020-02-03           0.311050           0.013250         0.162150
9   2020-02-10           0.000000           0.387350         0.193675
10  2020-02-28           0.000000           0.255267         0.127633
11  2020-03-02           0.000000           0.212000         0.106000
12  2020-03-03           0.000000           0.279533         0.139767
13  2020-03-04           0.222550           0.001500         0.112025
14  2020-03-05           0.187756           0.312900         0.250328
15  2020-03-16           0.000000           0.000000         0.000000
16  2020-03-17           0.246350           0.197333         0.221842
17  2020-03-24           0.875000           0.357750         0.616375
18  2020-03-28          -0.177900           0.675167         0.248633
19  2020-03-30           0.753100           0.287300         0.520200

In [56]:
# drop the redundant sentiment_score columns
df = df.drop(['sentiment_score_x', 'sentiment_score_y'], axis=1)

# deal with NaN values by filling them with 0.0
df['sentiment_score'] = df['sentiment_score'].fillna(0.0)

In [57]:
df = df.sort_values('Date')
df.head(20)

           Date  sentiment_score
760  2020-01-05         0.384920
0    2020-01-06         0.609047
1    2020-01-07         0.278879
2    2020-01-08         0.133025
761  2020-01-09         0.187100
762  2020-01-10         0.189925
763  2020-01-11         0.225933
764  2020-01-12         0.257775
765  2020-01-13         0.380575
766  2020-01-14         0.050367
3    2020-01-15         0.028550
767  2020-01-16         0.376433
768  2020-01-17         0.175825
769  2020-01-18         0.006000
770  2020-01-19        -0.114775
771  2020-01-20         0.164633
4    2020-01-21         0.272200
772  2020-01-22         0.088250
773  2020-01-23         0.284100
774  2020-01-24        -0.290867

In [58]:
df.to_csv("combined_zoom_news_tweets.csv", index=False)