In [66]:
import pandas as pd
import numpy as np

In [75]:
news = pd.read_csv("data/amc/webull_AMC_avgsentimentperday_2020-2022.csv")
news.rename(columns = {'date':'Date'}, inplace = True)
news.drop(columns = ['sentiment_label'], inplace = True)
display(news.head())

         Date  sentiment_score
0  2020-01-06           0.9001
1  2020-01-07           0.2787
2  2020-01-08           0.0000
3  2020-01-15           0.0000
4  2020-01-21           0.3400

In [77]:
tweets = pd.read_csv("data/zoom/reddit_ZM_avgsentimentperday_2020-2022.csv")
tweets.rename(columns = {'date':'Date'}, inplace = True)
tweets.drop(columns = ['sentiment_label'], inplace = True)
display(tweets.head())

         Date  sentiment_score
0  2020-01-09          0.65970
1  2020-01-28         -0.29600
2  2020-02-01          0.78450
3  2020-02-03         -0.47145
4  2020-02-15          0.99270

In [78]:
# left outer join
df = pd.merge(news, tweets, on='Date', how='outer')
display(df.head(30))

# group by date and average sentiment_score
df['sentiment_score'] = df[['sentiment_score_x', 'sentiment_score_y']].apply(lambda x: np.nanmean(x), axis=1)
display(df.head(20))

          Date  sentiment_score_x  sentiment_score_y
0   2020-01-06           0.900100                NaN
1   2020-01-07           0.278700                NaN
2   2020-01-08           0.000000                NaN
3   2020-01-15           0.000000                NaN
4   2020-01-21           0.340000                NaN
5   2020-01-28           0.000000          -0.296000
6   2020-01-30           0.340000                NaN
7   2020-01-31           0.526700                NaN
8   2020-02-03           0.311050          -0.471450
9   2020-02-10           0.000000                NaN
10  2020-02-28           0.000000           0.278660
11  2020-03-02           0.000000           0.449100
12  2020-03-03           0.000000           0.971950
13  2020-03-04           0.222550          -0.648750
14  2020-03-05           0.187756           0.470900
15  2020-03-16           0.000000                NaN
16  2020-03-17           0.246350                NaN
17  2020-03-24           0.875000           0.555933
18  2020-03-28          -0.177900          -0.653500
19  2020-03-30           0.753100           0.895917
20  2020-03-31           0.136160           0.922750
21  2020-04-01           0.000000           0.624900
22  2020-04-02           0.287520          -0.237114
23  2020-04-03           0.119100                NaN
24  2020-04-04           0.000000           0.796800
25  2020-04-06          -0.080817           0.709329
26  2020-04-07           0.472800          -0.421500
27  2020-04-08           0.361200           0.168400
28  2020-04-09           0.778300           0.047167
29  2020-04-10           0.636900           0.657800

          Date  sentiment_score_x  sentiment_score_y  sentiment_score
0   2020-01-06           0.900100                NaN         0.900100
1   2020-01-07           0.278700                NaN         0.278700
2   2020-01-08           0.000000                NaN         0.000000
3   2020-01-15           0.000000                NaN         0.000000
4   2020-01-21           0.340000                NaN         0.340000
5   2020-01-28           0.000000          -0.296000        -0.148000
6   2020-01-30           0.340000                NaN         0.340000
7   2020-01-31           0.526700                NaN         0.526700
8   2020-02-03           0.311050          -0.471450        -0.080200
9   2020-02-10           0.000000                NaN         0.000000
10  2020-02-28           0.000000           0.278660         0.139330
11  2020-03-02           0.000000           0.449100         0.224550
12  2020-03-03           0.000000           0.971950         0.485975
13  2020-03-04           0.222550          -0.648750        -0.213100
14  2020-03-05           0.187756           0.470900         0.329328
15  2020-03-16           0.000000                NaN         0.000000
16  2020-03-17           0.246350                NaN         0.246350
17  2020-03-24           0.875000           0.555933         0.715467
18  2020-03-28          -0.177900          -0.653500        -0.415700
19  2020-03-30           0.753100           0.895917         0.824508

In [79]:
# drop the redundant sentiment_score columns
df = df.drop(['sentiment_score_x', 'sentiment_score_y'], axis=1)

# deal with NaN values by filling them with 0.0
df['sentiment_score'] = df['sentiment_score'].fillna(0.0)

In [80]:
df = df.sort_values('Date')
df.head(20)

           Date  sentiment_score
0    2020-01-06         0.900100
1    2020-01-07         0.278700
2    2020-01-08         0.000000
760  2020-01-09         0.659700
3    2020-01-15         0.000000
4    2020-01-21         0.340000
5    2020-01-28        -0.148000
6    2020-01-30         0.340000
7    2020-01-31         0.526700
761  2020-02-01         0.784500
8    2020-02-03        -0.080200
9    2020-02-10         0.000000
762  2020-02-15         0.992700
763  2020-02-18         0.624900
764  2020-02-19         0.153100
765  2020-02-21         0.980100
766  2020-02-25         0.167950
767  2020-02-27        -0.039633
10   2020-02-28         0.139330
768  2020-02-29         0.999200

In [81]:
df.to_csv("combined_zoom_news_reddit.csv", index=False)