In [14]:
import pandas as pd
import numpy as np

In [23]:
news = pd.read_csv("data/zoom/webull_Zoom_avgsentimentperday_2020-2022.csv")
news.rename(columns = {'date':'Date'}, inplace = True)
news.drop(columns = ['sentiment_label'], inplace = True)
display(news.head())

         Date  sentiment_score
0  2020-01-06           0.9001
1  2020-01-07           0.2787
2  2020-01-08           0.0000
3  2020-01-15           0.0000
4  2020-01-21           0.3400

In [24]:
tweets = pd.read_csv("data/zoom/tweets_Zoom_avgsentimentperday_2020-2022.csv")
tweets.drop(columns = ['sentiment_label'], inplace = True)
display(tweets.head())

         Date  sentiment_score
0  2020-01-01         0.125625
1  2020-01-02        -0.051600
2  2020-01-03         0.005700
3  2020-01-04         0.472400
4  2020-01-05         0.301233

In [46]:
# left outer join
df = pd.merge(news, tweets, on='Date', how='outer')
display(df.head(30))

# group by date and average sentiment_score
df['sentiment_score'] = df[['sentiment_score_x', 'sentiment_score_y']].apply(lambda x: np.nanmean(x), axis=1)
display(df.head(20))

          Date  sentiment_score_x  sentiment_score_y
0   2020-01-06           0.900100           0.000000
1   2020-01-07           0.278700           0.440400
2   2020-01-08           0.000000           0.253700
3   2020-01-15           0.000000           0.051825
4   2020-01-21           0.340000           0.054160
5   2020-01-28           0.000000           0.025050
6   2020-01-30           0.340000           0.349069
7   2020-01-31           0.526700           0.190890
8   2020-02-03           0.311050           0.076200
9   2020-02-10           0.000000           0.161150
10  2020-02-28           0.000000           0.318200
11  2020-03-02           0.000000           0.000000
12  2020-03-03           0.000000           0.159225
13  2020-03-04           0.222550           0.174475
14  2020-03-05           0.187756           0.312450
15  2020-03-16           0.000000           0.124959
16  2020-03-17           0.246350           0.155231
17  2020-03-24           0.875000           0.821800
18  2020-03-28          -0.177900           0.464600
19  2020-03-30           0.753100           0.151050
20  2020-03-31           0.136160           0.071500
21  2020-04-01           0.000000           0.208800
22  2020-04-02           0.287520           0.290880
23  2020-04-03           0.119100           0.404250
24  2020-04-04           0.000000           0.784500
25  2020-04-06          -0.080817           0.127267
26  2020-04-07           0.472800          -0.118100
27  2020-04-08           0.361200           0.167800
28  2020-04-09           0.778300           0.294620
29  2020-04-10           0.636900           0.172800

          Date  sentiment_score_x  sentiment_score_y  sentiment_score
0   2020-01-06           0.900100           0.000000         0.450050
1   2020-01-07           0.278700           0.440400         0.359550
2   2020-01-08           0.000000           0.253700         0.126850
3   2020-01-15           0.000000           0.051825         0.025913
4   2020-01-21           0.340000           0.054160         0.197080
5   2020-01-28           0.000000           0.025050         0.012525
6   2020-01-30           0.340000           0.349069         0.344535
7   2020-01-31           0.526700           0.190890         0.358795
8   2020-02-03           0.311050           0.076200         0.193625
9   2020-02-10           0.000000           0.161150         0.080575
10  2020-02-28           0.000000           0.318200         0.159100
11  2020-03-02           0.000000           0.000000         0.000000
12  2020-03-03           0.000000           0.159225         0.079613
13  2020-03-04           0.222550           0.174475         0.198512
14  2020-03-05           0.187756           0.312450         0.250103
15  2020-03-16           0.000000           0.124959         0.062480
16  2020-03-17           0.246350           0.155231         0.200790
17  2020-03-24           0.875000           0.821800         0.848400
18  2020-03-28          -0.177900           0.464600         0.143350
19  2020-03-30           0.753100           0.151050         0.452075

In [47]:
# drop the redundant sentiment_score columns
df = df.drop(['sentiment_score_x', 'sentiment_score_y'], axis=1)

# deal with NaN values by filling them with 0.0
df['sentiment_score'] = df['sentiment_score'].fillna(0.0)

In [48]:
df = df.sort_values('Date')
df.head(20)

           Date  sentiment_score
760  2020-01-01         0.125625
761  2020-01-02        -0.051600
762  2020-01-03         0.005700
763  2020-01-04         0.472400
764  2020-01-05         0.301233
0    2020-01-06         0.450050
1    2020-01-07         0.359550
2    2020-01-08         0.126850
765  2020-01-09         0.185500
766  2020-01-10         0.012220
767  2020-01-11         0.279840
768  2020-01-12        -0.476700
769  2020-01-13         0.028800
770  2020-01-14        -0.002720
3    2020-01-15         0.025913
771  2020-01-16         0.466225
772  2020-01-17         0.128560
773  2020-01-18         0.000000
774  2020-01-19         0.000000
775  2020-01-20        -0.041175

In [49]:
df.to_csv("combined_zoom_news_tweets.csv", index=False)