In [14]:
import pandas as pd

In [15]:
news = pd.read_csv("../data/zoom/2020-2022_webull_zoom_stock_news.csv")
news.rename(columns = {'date':'Date'}, inplace = True)
display(news.head())

         Date                                      news_headline
0  2020-12-31  Tesla topped both the S&P 500 and Nasdaq 100 b...
1  2020-12-31  Every week, Benzinga conducts a sentiment surv...
2  2020-12-31  The tech sector outperformed in 2020 as a numb...
3  2020-12-31  Plaintiffs accusing Zoom Video Communications ...
4  2020-12-31  Loup Ventures has published its annual list of...

In [16]:
tweets = pd.read_csv("../data/zoom/zoom_preprocessed.csv")
display(tweets.head())

   Unnamed: 0        Date                                              tweet
0           0  2020-01-01                                replying USER USER
1           1  2020-01-01                                     replying USER
2           2  2020-01-01  205 roi last month 800 400 right another amazi...
3           4  2020-01-01  brokerage set zoom video communication inc zm ...
4           5  2020-01-01  60k buy newyearseve newyears newyearseve2020 t...

In [17]:
tweets.drop(columns=['Unnamed: 0'], inplace=True)

In [18]:
display(tweets.head())

         Date                                              tweet
0  2020-01-01                                replying USER USER
1  2020-01-01                                     replying USER
2  2020-01-01  205 roi last month 800 400 right another amazi...
3  2020-01-01  brokerage set zoom video communication inc zm ...
4  2020-01-01  60k buy newyearseve newyears newyearseve2020 t...

In [19]:
news_tweets = pd.merge(news, tweets, left_on='Date', right_on='Date', how='inner')
display(news_tweets.head())

,Date,news_headline,tweet
0,2020-12-31,Tesla topped both the S&P 500 and Nasdaq 100 b...,replying USER
1,2020-12-31,Tesla topped both the S&P 500 and Nasdaq 100 b...,use code goodbye2020 25 first month entire yea...
2,2020-12-31,Tesla topped both the S&P 500 and Nasdaq 100 b...,zm ark made another 45m buy today added 135 32...
3,2020-12-31,Tesla topped both the S&P 500 and Nasdaq 100 b...,new year sale use code goodbye2020 25 first mo...
4,2020-12-31,"Every week, Benzinga conducts a sentiment surv...",replying USER

In [12]:
# merge the two columns into one
news_tweets['news_tweet'] = news_tweets['news_headline'] + ' ' + news_tweets['tweet']

# drop the original columns
news_tweets.drop(['news_headline', 'tweet'], axis=1, inplace=True)

# print the resulting dataframe
display(news_tweets.head())

         Date                                         news_tweet
0  2020-12-31  Tesla topped both the S&P 500 and Nasdaq 100 b...
1  2020-12-31  Tesla topped both the S&P 500 and Nasdaq 100 b...
2  2020-12-31  Tesla topped both the S&P 500 and Nasdaq 100 b...
3  2020-12-31  Tesla topped both the S&P 500 and Nasdaq 100 b...
4  2020-12-31  Every week, Benzinga conducts a sentiment surv...

In [13]:
news_tweets.to_csv("combined_zoom_news_tweets.csv", index=False)