In [1]:
import pandas as pd

In [2]:
# Load PriceDiff file 
price_diff = pd.read_csv('zoom/yahoo_ZM_price_diff.csv')
display(price_diff.head())

         Date     Close
0  2020-01-02 -1.440002
1  2020-01-03  3.040001
2  2020-01-06  1.580002
3  2020-01-07  0.650002
4  2020-01-08  0.070000

In [6]:
# Load news headlines file
news = pd.read_csv('zoom/webull_Zoom_avgsentimentperday_2020-2022.csv')
news.rename(columns = {'date':'Date'}, inplace = True)
news.drop(columns=['sentiment_label'], inplace = True)
display(news.head())

         Date  sentiment_score
0  2020-01-06           0.9001
1  2020-01-07           0.2787
2  2020-01-08           0.0000
3  2020-01-15           0.0000
4  2020-01-21           0.3400

In [7]:
stock_prediction_df = pd.merge(news, price_diff, left_on='Date', right_on='Date', how='inner')
display(stock_prediction_df.head())

         Date  sentiment_score     Close
0  2020-01-06           0.9001  1.580002
1  2020-01-07           0.2787  0.650002
2  2020-01-08           0.0000  0.070000
3  2020-01-15           0.0000 -0.830002
4  2020-01-21           0.3400 -1.190002

In [9]:
stock_prediction_df.to_csv("zoom-train-date-sentiment-pricediff.csv", index=False)